<template>
  <div>
    <div>
      <b-container class="d-flex justify-content-end">
        <div id="side-btn">
          <b-button id="sideBar" v-b-toggle.sidebar-no-header>
            <font-awesome-icon icon="bars" />
          </b-button>
        </div>
        <b-sidebar
          id="sidebar-no-header"
          no-header
          right
          shadow
        >
          <h3>追加項目</h3>
<!--          <b-form-input type="search"></b-form-input>-->
          <p v-for="(subject, index) in subjects"
             :key="index"
             draggable="true"
             @dragstart="dragStarted"
             @dragover="draggingOver"
             @drop="dropped"
          >
            {{subject.subject}}
          </p>
          <b-form-group>
          </b-form-group>
          <b-form-input v-model="add_places"></b-form-input>
          <b-button v-on:click="add_element">要素を追加する</b-button>
        </b-sidebar>
      </b-container>
    </div>
    {{displayCredit}}
    <section>
      <table class="table table-bordered" id="table">
        <thead class="text-center">
        <tr id="date_cell_color">
          <th scope="col"> </th>
          <th scope="col">月</th>
          <th scope="col">火</th>
          <th scope="col">水</th>
          <th scope="col">木</th>
          <th scope="col">金</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row" id="row1">1</th>
          <td id="Mon1"
              draggable="true"
              @dragstart="dragStarted"
              @dragover="draggingOver"
              @drop="dropped"
              ></td>
          <td id="Mon2"
              draggable="true"
              @dragstart="dragStarted"
              @dragover="draggingOver"
              @drop="dropped"></td>
          <td id="Mon3"
              draggable="true"
              @dragstart="dragStarted"
              @dragover="draggingOver"
              @drop="dropped"></td>
          <td id="Mon4"
              draggable="true"
              @dragstart="dragStarted"
              @dragover="draggingOver"
              @drop="dropped"></td>
          <td id="Mon5"
              draggable="true"
              @dragstart="dragStarted"
              @dragover="draggingOver"
              @drop="dropped"></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td id="Tue1"
              draggable="true"
              @dragstart="dragStarted"
              @dragover="draggingOver"
              @drop="dropped">
          </td>
          <td id="Tue2"
              draggable="true"
              @dragstart="dragStarted"
              @dragover="draggingOver"
              @drop="dropped">
          </td>
          <td id="Tue3"
              draggable="true"
              @dragstart="dragStarted"
              @dragover="draggingOver"
              @drop="dropped">
          </td>
          <td id="Tue4"
              draggable="true"
              @dragstart="dragStarted"
              @dragover="draggingOver"
              @drop="dropped">
          </td>
          <td id="Tue5"
              draggable="true"
              @dragstart="dragStarted"
              @dragover="draggingOver"
              @drop="dropped">
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>
            <router-link to="/conditional">
            </router-link>
          </td>
          <td>{{selected}}</td>
          <td></td>
          <td>{{subject}}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td id="target">
<!--            <b-input v-model="message"/>-->
<!--            <div v-if="message && message2 && message === message2">-->
<!--              {{change_color_red('target', 'target2')}}-->
<!--            </div>-->
<!--            <div v-if="message && message2 && message !== message2">-->
<!--              {{change_color_white('target', 'target2')}}-->
<!--            </div>-->
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td id="target2">
<!--            <b-input v-model="message2" />-->
<!--            <div v-if="message && message2 && message === message2">-->
<!--              {{change_color_red('target', 'target2')}}-->
<!--            </div>-->
<!--            <div v-if="message && message2 && message !== message2">-->
<!--              {{change_color_white('target', 'target2')}}-->
<!--            </div>-->
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>
          </td>
          <td draggable="true">
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </section>
    <b-button v-on:click="clear_button" type="button" id="clearButton">削除</b-button>
    <b-button type="button" class="m-5">保存</b-button>
    <b-button v-on:click="calc_credit">集計ボタン</b-button>
  </div>
</template>

<script>
import data from '@/data/subject.json';

export default {
  data() {
    return {
      courseGradeId: '',
      subjects: [],
      selected: '',
      message: '',
      message2: '',
      add_places: null,
      displayCredit: 0,
      getSubID: 0,
    };
  },
  component: {
    data,
  },
  created() {
    this.courseGradeId = sessionStorage.getItem('course&grade');
    this.inquiryCourse(this.courseGradeId);
  },
  methods: {
    clear_button() {
      if (window.confirm('all clear')) {
        // v-bindの削除が初期化がうまくいかないので今はリロードで対応
        document.location.reload(true);
        // v-modelの初期化
        this.message = '';
        this.selected = '';
      } else {
        // キャンセル時のアラート(動作確認)
        alert('キャンセルされました');
      }
    },
    change_color_red(target, target2) {
      const color = document.getElementById(target);
      const color2 = document.getElementById(target2);
      color.style.backgroundColor = '#ff0000';
      color2.style.backgroundColor = '#ff0000';
    },
    change_color_white(target, target2) {
      const color = document.getElementById(target);
      const color2 = document.getElementById(target2);
      color.style.backgroundColor = '#ffffff';
      color2.style.backgroundColor = '#ffffff';
    },
    add_element() {
      const { subjects } = this;
      const addsubject = this.add_places;
      if (addsubject === null) {
        window.alert('追加する教科名を入力してください。');
      } else {
        subjects.push(addsubject);
      }
      this.push(addsubject);
    },
    inquiryCourse(id) {
      if (id) {
        this.subjects = data[id].subjects;
      }
    },
    dragStarted(event) {
      this.sourse = event.target;
      // this.getSubID =
      event.dataTransfer.setData('text/plain', event.target.innerHTML);
      // eslint-disable-next-line no-param-reassign
      event.dataTransfer.effectAllowed = 'move';
      console.log(event.target);
    },
    draggingOver(event) {
      event.preventDefault();
      // eslint-disable-next-line no-param-reassign
      event.dataTransfer.dropEffect = 'move';
    },
    dropped(event) {
      event.preventDefault();
      event.stopPropagation();
      this.sourse.innerHTML = event.target.innerHTML;
      // eslint-disable-next-line no-param-reassign
      event.target.innerHTML = event.dataTransfer.getData('text/plain');
      // this.displayCredit = this.subjects[0].credit;
      // const subID = 0;
      // console.log(this.subjects[subID].id);
      // console.log(this.sourse.innerHTML);
      // console.log(event.target.innerHTML.id);
      // console.log(Object.keys(this.subjects));
      // const obj = JSON.stringify(this.subjects);
      // console.log(obj);
      // const jsonObj = JSON.parse(obj);
    },
    // 計算ボタン
    calc_credit() {
      // const subjectCredit = data.its1.subjects[0].subject;
      // 教科の配列文ループする
      for (let i = 0; i < this.subjects.length; i += 1) {
        const creditID = data.its1.subjects[i].credit;
        const subjectName = data.its1.subjects[i].subject;
        // テーブルに要素を追加してからの制限をかけたい
        for (let j = 1; j <= 5; j += 1) {
          if (document.getElementById(`Mon${j}`).innerText === subjectName) {
            // 取得したcreditを合計する処理
            // 取得したcreditを保存する
            // const saveCredit = 0;
            // 加算されるcreditが格納された変数
            // const s = 0;
            // 合計したcreditの変数
            // const total = 0;
            console.log(creditID);
          } else if (document.getElementById(`Mon${j}`).innerText !== subjectName) {
            console.log('no');
          }
        }
      }
    },
  },
};
</script>

<style>
  th {
    width: 60px;
  }
  td {
    width: 100px;
  }
  p{
    margin: 10px;
    padding: 10px;
    border: 1px solid #7f7f7f;
    border-radius: 10px;
    background-color: #ffffff;
  }
  #table {
    width: 75%;
  }
  #date_cell_color {
    background-color: #D9E5FF;
  }
  #side-btn{
    position: absolute;
    left: 97%;
  }
  #sidebar-right{
    position: absolute;
    width: calc(100% - 75%);
  }
</style>
