<template>
  <div>
    <b-container class="d-flex justify-content-end">
    </b-container>
    <br><br><br><br>
    <h1>編集・閲覧モード選択画面</h1>
    <br><br>
      <div class="mt-3">
          <b-container>
            <router-link to="/edittable">
              <b-button class="col-5" size="lg">
               <font-awesome-icon icon="edit"/>編集
              </b-button>
            </router-link><br><br>
            <router-link to="/browsingtable">
              <b-button class="col-5" size="lg">
                <font-awesome-icon icon="book-open"/>  閲覧
              </b-button>
            </router-link><br><br>
            <router-link to="/">
              <b-button variant="primary" class="col-5" size="lg">
                <font-awesome-icon icon="arrow-alt-circle-left"/>  back
              </b-button>
            </router-link>
          </b-container>
      </div>
  </div>
</template>

<script>
export default {
  data() {
    return {

    };
  },
};
</script>
