<template>
  <div align="center">
    <br><br><br><br>
    <h1>学科・学年選択画面</h1>
    <b-form>
      <br><br><br>
      <b-form-group class="col-3">
        <b-form-select id="course" v-model="form.course" :options="courses" required>
        </b-form-select>
      </b-form-group>
      <br>
      <b-form-group class="col-3">
        <b-form-select id="grade" v-model="form.grade" :options="grades" required>
        </b-form-select>
      </b-form-group>

      <b-button type="submit" variant="primary" @click="onNext" to="/select-mode">次へ</b-button>

    </b-form>
  </div>
</template>

<script>
export default {
  name: 'Home',

  data() {
    return {
      form: {
        course: null,
        grade: null,
      },

      courses: [
        { value: null, text: '学科を選択' },
        { value: 'its', text: 'ITスペシャリスト科' },
        { value: 'gra', text: 'グラフィック科' },
        { value: 'tv', text: 'TV映像音響科' },
        { value: 'mis', text: '医療福祉秘書科' },
        { value: 'kid', text: 'こども学科' },
        { value: 'bea', text: 'ビューティー・ウェディング科' },
        { value: 'mim', text: '医療情報管理学科' },
        { value: 'jap', text: '日本語科' },
        { value: 'itm', text: 'IT専攻科' },
        { value: 'cre', text: 'クリエイター専攻科' },
        { value: 'car', text: '自動車整備科' },
      ],
      grades: [
        { value: null, text: '学年を選択' },
        { value: 1, text: '1年' },
        { value: 2, text: '2年' },
        { value: 3, text: '3年' },
      ],
    };
  },
  created() {
    sessionStorage.removeItem('course');
    sessionStorage.removeItem('grade');
    sessionStorage.removeItem('course&grade');
  },
  methods: {
    onNext() {
      if (this.form.course !== null && this.form.grade !== null) {
        sessionStorage.setItem('course', this.form.course);
        sessionStorage.setItem('grade', this.form.grade);
        sessionStorage.setItem('course&grade', this.form.course + this.form.grade);
      }
    },
  },
};
</script>
